<!DOCTYPE html>
<html>
<head>
  <title>Codebreaker</title>
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
</head>
<body>
<div class = "container">
  <div class="row">
    <div class="col text_center">
      <div class="header text-center">
        <h4>Codebreaker</h4>
        <img class="logo" src="/img/jigsaw.png" alt="I want to play a game" width="72" height="72">
      </div>
    </div>
  </div>
  <h5 class="text-center">GAME SCORES</h5>
    <table class="table table-hover" id="game_scores">
      <tr class="info">
        <th>Date</th>
        <th>Player name</th>
        <th>Attempts</th>
        <th>Game result</th>
        <th>Secret code</th>
        <th>Remaining hints</th>
      </tr>
       <% @scores.each do |record| %>
        <tr>
          <td><%= record[:game_date] %></td>
          <td><%= record[:player_name] %></td>
          <td><%= record[:attempts] %></td>
          <td><%= record[:result] %></td>
          <td><%= record[:secret_code] %></td>
          <td><%= record[:hints_left] %></td>
        </tr>
      <% end %>
    </table>
    <br>
  <p><a href="/" class="btn btn-primary btn-block">Back</a></p>
</div>
</body>
</html>