<!DOCTYPE html>
<html>

<head>
  <title>Codebreaker</title>
  <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/main.css" type="text/css">
</head>

<body>
  <div class="container">
    <% if game %>
      <p>Secret code from session: <%= game.secret %></p>
    <% end %>
    <% if player_name %>
    <div class="row">
      <div class="col text_center">
        <div class="header text-center">
          <h4>Codebreaker</h4>
          <img class="logo" src="/img/jigsaw.png" alt="I want to play a game" width="72" height="72">
        </div>
      </div>
    </div>
    <% if game.game_over? %>
      <%= render 'game_over' %>
    <% else %>
    <div class="row">
      <div class="col">
        <div class="row">
          <div class="col-md-6">
            <%= render 'game_form' %>
          </div>
          <div class="col-md-6">
            <%= render 'hint_form' %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= render 'game_log' %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <% else %>
      <%= render 'login_form' %>
    <% end %>
  </div>
</body>
</html>